@model IEnumerable<Modelo.Carrinho.ItemCarrinho>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Produto
            </th>
            <th>
                Quantidade
            </th>
            <th>Valor</th>
            <th>SubTotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorUnitario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal)
                </td>
            </tr>
        }
    </tbody>
</table>
Total Carrinho:
@{ var totalCarrinho = Model.Sum(s => s.SubTotal);}
@totalCarrinho